button {
  transition: scale 200ms, background-color 200ms, color 200ms;

  height: 40px;
  border-radius: 20px;
  padding-left: 24px;
  padding-right: 24px;

  &.filled {
    background-color: var(--color-primary);
    border: none;

    color: var(--color-on-primary);

    &:hover {
      scale: 1.08;
    }
  }

  &.outlined {
    background-color: transparent;
    border-style: solid;
    border-color: var(--color-tertiary);
    color: var(--color-tertiary);

    &:hover {
      background-color: var(--color-tertiary);
      color: var(--color-on-tertiary);
    }
  }

  &.text {
    background-color: transparent;
    border-style: none;
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-on-primary);
    }
  }

  &:active {
    scale: 1.12;
  }

  &.icon {
    padding: 8px;

    & img {

      //fill: red;
    }
  }
}