:root {
  --color-primary: rgb(140 79 39);
  --color-surface-tint: rgb(140 79 39);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(255 219 201);
  --color-on-primary-container: rgb(111 56 18);
  --color-secondary: rgb(118 88 71);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(255 219 201);
  --color-on-secondary-container: rgb(92 65 49);
  --color-tertiary: rgb(98 96 51);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(233 229 171);
  --color-on-tertiary-container: rgb(74 72 29);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);
  --color-background: rgb(255 248 245);
  --color-on-background: rgb(34 26 21);
  --color-surface: rgb(255 248 245);
  --color-on-surface: rgb(34 26 21);
  --color-surface-variant: rgb(244 222 212);
  --color-on-surface-variant: rgb(82 68 60);
  --color-outline: rgb(133 116 107);
  --color-outline-variant: rgb(215 194 184);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(56 46 41);
  --color-inverse-on-surface: rgb(255 237 229);
  --color-inverse-primary: rgb(255 182 140);
  --color-primary-fixed: rgb(255 219 201);
  --color-on-primary-fixed: rgb(50 18 0);
  --color-primary-fixed-dim: rgb(255 182 140);
  --color-on-primary-fixed-variant: rgb(111 56 18);
  --color-secondary-fixed: rgb(255 219 201);
  --color-on-secondary-fixed: rgb(43 22 10);
  --color-secondary-fixed-dim: rgb(229 191 170);
  --color-on-secondary-fixed-variant: rgb(92 65 49);
  --color-tertiary-fixed: rgb(233 229 171);
  --color-on-tertiary-fixed: rgb(30 29 0);
  --color-tertiary-fixed-dim: rgb(204 201 146);
  --color-on-tertiary-fixed-variant: rgb(74 72 29);
  --color-surface-dim: rgb(231 215 207);
  --color-surface-bright: rgb(255 248 245);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(255 241 235);
  --color-surface-container: rgb(252 234 226);
  --color-surface-container-high: rgb(246 229 221);
  --color-surface-container-highest: rgb(240 223 215);
}
