h2, p {
  margin: 4px 0;
}

ul.list {
  display: flex;
  flex-direction: column;
  //display: grid;
  //grid-template-columns: repeat(2, 1fr);
  max-height: 50vh;
  list-style-type: none;
  overflow-y: scroll;
  gap: 12px;
  padding: 0;

  & li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin: 0;
    padding: 12px 12px;
    background-color: var(--color-surface-container-low);
    color: var(--color-on-surface);

    border-radius: 20px;
  }
}

ul.displayPhotos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  div.displayPhoto {
    display: flex;
    //max-width: 20vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    background-color: var(--color-surface-container-low);
    border: none;
    border-radius: 20px;
    padding: 24px;

    & img {
      max-height: 100%;
      max-width: 100%;
      object-fit: scale-down;
      //box-sizing: border-box;

      border: none;
      border-radius: 20px;
    }

    & p {
      width: auto;
      color: var(--color-on-surface);
    }
  }

  & div {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  img.displayPhoto {
    width: 20vw;
    height: 20vw;
  }
}